body {
  font-size: 16px;
  color: #fff;
  background-color: #557c3e; 
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #EEEEEE;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/ifb-vertical.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 75px;
}


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /*  */
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}
.navbar-brand p span { /*  */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #557c3e;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { 
  color: #EEEEEE;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #557c3e;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #777777;
  position: relative;

 }


.jumbotron img{

  margin-left: auto;
  margin-right: auto;
}

#jumbo-tile span{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}



.jumbotron:hover {
  box-shadow: 0 1px 5px 1px #cccccc;

}

#mapid{
  height: 250px;
}

#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
  position: relative;
  border: 2px solid #777777;
  overflow: hidden;
}

#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#img-tile {
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
  position: relative;
  border: 2px solid #777777;
  overflow: hidden;
}

#img-tile > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#img-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.0em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


/* END HOME PAGE */


/********** Medium and large devices only **********/
@media (min-width: 992px)  {
  /* Header */
  #logo-img {
    background: url('../images/ifb-vertical.jpg') ;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/reitoria-150%.jpg') no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 0;

    width: 100%;
    height: 100%;
  }

  .jumbotron img{
    width: 100%;
  }

  .col-md-12 {
    padding: 0;
  }

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/reitoria-150%.jpg') no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 0;

    width: 100%;
    height: 100%;
  }

  .col-sm-12 {
    padding: 0;
  }

 

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 15px;
}


  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  .col-xs-12 {
    padding: 0;
  }

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Instituto Federal de Brasília */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Campus Brasília - Reitoria */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #EEEEEE;
    color: ##557c3e;
  }



  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;

    width: 100%;
    height: 100%;
  }


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



